@import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
}

body,
#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: bold;
  color: #fff;
}
